<h2>Add Book</h2>

<form method="POST">
  <input name="title" placeholder="Title" required><br>
  <input name="author" placeholder="Author"><br>
  <input name="rating" type="number" min="1" max="5"><br>
  <input name="cover_id" placeholder="Open Library Cover ID"><br>
  <input name="date_read" type="date"><br>
  <textarea name="notes" placeholder="Notes"></textarea><br>
  <button>Add</button>
</form>
