<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Joke</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Hey <%= name %>! Here's a Joke for You 😂</h1>
        <p class="joke"><%= joke %></p>
        <a href="/">Get Another Joke</a>
    </div>
</body>
</html>
